@media (min-width: 320px) {
    .base {
        padding: 90px 0px 210px 0px;
        overflow-x: hidden;
    }
}

@media (min-width: 768px) {
    .base {
        padding: 75px 0px
    }

  
}

@media (min-width: 1024px) {
  
}